@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

header {
  color: black;
  background-color: #68e0f9;
  border: 6px solid black;
}

header img {
  width: 78.5px;
  height: 50px;
  float: left;
  margin: 15px;
}

header h1 {
  text-align: center;
  text-shadow: 9px 5px 5px #00abff;
}
