@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

header {
	color: white;
	background-color: #4c5b5e;
	border: 6px solid black;
}

header img {
	width: 78.5px;
	height: 50px;
	float: left;
	margin: 15px;
}

header h1 {
	text-align: center;
}